<table id="basket-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
        </tr> 
    </thead>
    <tbody>
        <tr>
            <td>Product #1</td>
            <td>1</td>
            <td>&pound;10.00</td> 
        </tr>
        <tr>
            <td>Product #2</td>
            <td>1</td>
            <td>&pound;10.00</td> 
        </tr>
        <tr>
            <td>Product #3</td>
            <td>1</td>
            <td>&pound;10.00</td> 
        </tr>
        <tr>
            <td colspan="2" align="right">Total</td>
            <td>&pound;30.00</td>
                
        </tr>
    </tbody>
</table>